*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", sans-serif;
    
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

#logo{
    width: 9%;
}

header div.flex-nav .button{
    padding: 0.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-collapse: collapse;
    border: #85a4f2;
    border-color: #85a4f2;
    font-size: 12px;
}

.white{
    color: white;
}

.nav{
    display: flex;
    flex-direction: row;
    font-size: 12px;

}

header div.flex-nav p{
    margin: 1rem;
}

.flex-nav{
    background-color: #255ee9;
    padding: 0.3rem 0;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-flex{
    background-image: url(../htmlcss-discord/img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7.3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;  
}

.container-uno{
    align-self: center;
}

.item-titolo{
    padding-bottom: 1rem;
}

.container-due{
    width: 50%;
    align-self: center;
}


.item-p{
    padding: 0rem 17.3rem;
}

div.header-flex .button{
    margin-top: 1rem;
    text-align: center;
    margin-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-collapse: collapse;
    border: #85a4f2;
    border-color: #85a4f2;
    font-size: 15px;

}

.mac{
    padding: 0.5rem 0.8rem;
}
.black{
    background-color: #222629;
    padding: 0.6rem 0.8rem;
}

.main-flex {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    width: 100%;
    padding: 4rem;
}

.item-img{
    background-image: url(./img/item1.svg);
    width: 50%;
    text-align: center;
    align-self: center;
    height: 22rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

.item-info{
    width: 24%;
    text-align: left;
    padding-top: 2rem;
}

main p{
    margin-top: 1rem;
    font-size: 13px;
}

#font-size{
    font-size: 33px;
}

.flex-second{
    display: flex;
    background-color: #f5f5f5;
    padding: 4rem 0rem;
    gap: 3rem;
    justify-content: center;
    flex-direction: row-reverse;

}

.item-img-second{
    background-image: url(./img/item2.svg);
    width: 50%;
    text-align: center;
    align-self: center;
    height: 22rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

.item-img-third{
    background-image: url(./img/item3.svg);
    width: 50%;
    text-align: center;
    align-self: center;
    height: 22rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-lastflex{
    display: flex;
    background-color: #f5f5f5;
    padding: 3rem 11rem;
    justify-content: center;
    flex-direction:column-reverse;
}

.item-img-last{
    order: 1;
}

.item-info-last{
    text-align: center;
    order: 4;
}

div > h2{
    text-align: center;
    order: 0;
}

div.main-lastflex > button{
    width: 11rem;
    align-self: center;
    order: -1;
}

div.main-lastflex .button{
    margin-top: 2rem;
    text-align: center;
    margin-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-collapse: collapse;
    border: #85a4f2;
    border-color: #85a4f2;
    font-size: 15px;
    background-color: #7187d9;
}

.img-big{
    width: 53%;
    align-self: center;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #23272a;
    padding: 2rem 0rem 0rem 9rem;
}
.titolo-footer{
    width: 100%;
    font-size: 25px;
}

.blue{
    color:#6a81d2 ;


}

li{
    margin: 0.6rem 0.1rem 0.1rem 0.1rem;
    font-size: 16px;
    color: white;
}

ul{
    list-style: none;
    font-size: 16px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    width: 80%;
}

.social{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer-logo-button{
    display: flex;
    background-color: #23272a;
    align-items: flex-end;
    /* height: 6rem; */
    margin: 1rem 6rem 1rem 5rem;
    justify-content: space-between;
}

hr{
    color: #4f5d8c;
    margin: 1rem 6rem 1rem 5rem;
    border: 1px solid #7187d9;
}

.end-footer{
    background-color: #222629;
    height: 7rem;
    padding-top: 1rem;
}

.button-register{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-collapse: collapse;
    border: #85a4f2;
    border-color: #85a4f2;
    font-size: 13px;
    background-color: #7187d9;
    padding: 0.4rem;
}

.logo-italiano{
    display: flex;
    margin-top: 1rem;
    color: white;
}

.img-ita{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.social-logos{
    color: white;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 62%;
}

div.logo-italiano p{
    margin-right: 0.5rem;
}
